.navigation {
    font-family: monospace;
    color: white;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    margin: 0 40px;
}
.navContainer {
    display: flex;
}
.navbars {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}
.navList {
    margin: 0px 1rem;
    font-size: 0.8rem;
}
.logo {
    max-width: 92px;
    height: fit-content;
}

.navList > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
